<div class="jumbotron">
  <% if not @projects.nil? %>
    <h2>Available projects:</h2>
    <ul>
      <% @projects.each() do |project| %>
        <p>
          <li><a href="/project/<%= project.id() %> "><%= project.name() %>, <%= project.volunteers().length() %> volunteers </a></li>
        </p>
      <% end %>
    </ul>
  <% end %>

  <h2>Add a project:</h2>

  <form action="/project" method="post">
    <div class="form-group" id="project">
      <label for="name">Enter Project's name</label>
      <input class="form-control" type="text" name="name" placeholder="eg: Death" required>
    </div>
    <button class="btn btn-success" type="submit">Add the project</button>
  </form>
</div>

<div class="jumbotron">
  <% if @volunteers.length > 0 %>
    <h2>Available volunteers:</h2>
    <ul>
      <% @volunteers.each() do |volunteer| %>
        <a href="/volunteer/<%= volunteer.id() %>"><li><%= volunteer.name() %></li></a>

      <% end %>
    </ul>
  <% end %>

  <h2>Add a volunteer:</h2>

  <form action="/volunteer" method="post">
    <div class="form-group">
      <label for="name">Enter a name</label>
      <input class="form-control" type="text" name="name" placeholder="eg: Jane Doe" required>
    </div>
    <!-- select menu for projects -->
    <!-- <div class="form-group">
      <select name="project" id="projectSelect">
        <% if @projects != nil %>
          <% @projects.each() do |project| %>
            <option value="<%= project.id %>"><%= project.name %></option>
          <% end %>
        <% end %>
      </select>
    </div> -->
    <button class="btn btn-success" type="submit">Add the volunteer</button>
  </form>
</div>

<form  action="/clear" method="post">
  <button class="btn btn-warning" type="submit">Clear database</button>
</form>
